[submodule "modules/01_retargeting/GMR"]
	path = modules/01_retargeting/GMR
	url = https://github.com/YanjieZe/GMR
[submodule "modules/third_party/holosoma"]
	path = modules/third_party/holosoma
	url = https://github.com/amazon-far/holosoma
[submodule "src/motion_convertor/third_party/InterAct"]
	path = src/motion_convertor/third_party/InterAct
	url = https://github.com/wzyabcas/InterAct
[submodule "src/motion_convertor/third_party/InterMimic"]
	path = src/motion_convertor/third_party/InterMimic
	url = https://github.com/Sirui-Xu/InterMimic
